<h1>Your Lists: </h1>
<div *ngIf="noLists == true">
  <div class="alert alert-danger" role="alert">
    You have not yet created a list or our server cannot be reached right now
  </div>
</div>
<div id="accordion">
  <div class="listGroup" *ngFor="let item of lists; let i=index; trackBy:trackByFn">
  <div class="card">
    <div class="card-header" [attr.id]="'List' + i">
      <h5 class="mb-0">
        <div class="row">
          <div class="col-9">
        <button class="btn btn-text" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
          <h5>Wordlist: {{lists[i].title}} </h5>
        </button>
          </div>
          <div class="col-3">
        <button class="btn btn-primary" (click)="quizById(i)">Learn this list</button>
          </div>
        </div>
      </h5>
    </div>

    <div [attr.id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'List' + i" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          <div class = "col-6">
            <label>{{lists[i].problemLanguage}}:</label>
          </div>
          <div class = "col-6">
            <label>{{lists[i].translationLanguage}}:</label>
          </div>
        </div>
        <div class = "row" *ngFor="let item of lists[i].listEntries; let j=index; trackBy:trackByFn">
          <div class = "col-6">
            <input class="form-control" placeholder="Nederlandse woord" required="required" [(ngModel)]="lists[i].listEntries[j].problem" (change)="update()">
          </div>
          <div class = "col-6">
            <input class="form-control" placeholder="Engelse vertaling" required="required" [(ngModel)]="lists[i].listEntries[j].translation" (change)="update()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


