.listGroup{
  margin: 0 auto;
  width: 800px;
}

.form-group{
  margin: 0 auto;
  width: 800px;
}
.btn-text{
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.btn-primary{
  margin-top: 5px;
  float: right;
}

.form-control{
  margin-top: 5px;
  margin-bottom: 10px;
}

h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.alert{
  width: 50% !important;
  margin: auto !important;
  text-align: center !important;
}
