<div class="form-group" >
  <div class = "row" *ngFor="let item of inputsDutch; let i=index; trackBy:trackByFn">
    <div class = "col-6">
    <input class="form-control" placeholder="Nederlandse woord" required="required" [(ngModel)]="inputsDutch[i]" (change)="update()">
    </div>
    <div class = "col-6">
    <input class="form-control" placeholder="Engelse vertaling" required="required" [(ngModel)]="inputsEnglish[i]" (change)="update()">
    </div>
  </div>
  <button (click)="submitEntry()" value="Submit" class="btn btn-primary">Submit</button>
</div>




