<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" routerLinkActive="active">
  <a class="navbar-brand" id="title" routerLink="/home">Learning App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/addEntry" class="nav-link">Create ListEntry</a></li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/displayLists" class="nav-link">WordLists</a></li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="/result" class="nav-link">Results</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


